<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.sopranosofpalmbay.pizza"
    version   = "1.0.0">
 <icon src="icon.jpg" />
<name>Sopranos Pizza</name>

<description>
Sopranos Pizza Mediterranean Grill Italian Restaurant
</description>

<author href="http://www.sopranosofpalmbay.com/" email="paul.zanbaka@gmail.com">
Paul Zanbaka
</author>

<gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />



    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	 <feature name="http://api.phonegap.com/1.0/internet"/>
<feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />

</feature>

 <!-- <access origin="*" />-->
  <access origin="http://www.sopranosofpalmbay.com/"  subdomains="true" browserOnly="false" /> 
<access uri="http://maps.google.com" subdomains="true" />
<!-- access to all domains need to chnage after fb test -->
<access uri="*" subdomains="true" />
<access uri="https://graph.facebook.com" subdomains="true" />
<access uri="https://connect.facebook.com" subdomains="true" />
<access uri="http://mycodekb.com" subdomains="true" />
<preference name="orientation" value="default" />
<access uri="http://facebook.com" subdomains="true" />
<access uri="http://www.pugnplay.com" subdomains="true" />
<access uri="https://www.pugnplay.com" subdomains="true" />
  <!-- This will open inside an app--> 

<access uri="http://fb.pugnplay.com" subdomains="true" />
  <!-- FB Connect Section -->
    <gap:plugin name="com.phonegap.plugins.facebookconnect">
	    <param name="APP_ID" value="633956449999065" /> <!-- FB App ID-->
        <param name="APP_NAME" value="PUG" /> <!-- FB App Namespace-->
    </gap:plugin>
</widget>
